<div class="right_white">
  <h2>Available balance</h2>
  $ <%= @current_user.earned_money %><br />
  Period: <%= @current_user.created_at.strftime("%Y/%m/%d") %> - <%= Time.now.strftime("%Y/%m/%d") %>
  <br /><br />  
</div>
